<!DOCTYPE html>
<html>
	<head>
		<title>BB-YT SCANNER</title>
		<meta charset="utf-8">
		<script src="js/BBElements.js"></script>
		<script>BBElements.lazyLoad();</script>
		<link rel="stylesheet" href="css/styles.css">
	</head>

	<body>

		<div id="logos">
			<img src="images/youtube-logo.png" alt="youtube">
		</div>

		<bb-h1 id="ntro-h1">{{message}}</bb-h1>

		<bb-p id="ntro-p">
			Please <a href="{{url}}">authenticate</a> with the YouTube/Google account you've created playlists on. Watch this <a href="#">tutorial</a> to get acquainted.
		</bb-p>

	</body>
</html>
